/* Tạo file custom.css */
.wallet-adapter-button {
    width: 100% !important; /* Ghi đè width */
    height: 2.8rem;
    margin-bottom: 18px;
    color: white !important;
    padding: 0.5rem 1rem !important; /* Padding Tailwind */
    border-radius: 1.5rem !important; /* Border-radius Tailwind */
    border-radius: 50%;
    text-align: center  ;
  }
  
  /* .wallet-adapter-button:hover {
    background-color: #2563eb !important; 
  } */
  .wallet-adapter-dropdown{
    width: 100%;
  }